version: '3.8'

services:
  f2yt:
    build: .
    image: f2yt-encoder
    container_name: f2yt_container
    volumes:
      - .:/app
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: tail -f /dev/null
    shm_size: '8gb'